h2,
h3,
iframe {
	margin-top: 2rem;
}

iframe {
	width: 100%;
	min-height: 600px;
	border: 1px solid var(--grey-200);
}

p {
	margin-top: 1rem;
}

p,
blockquote {
	line-height: 1.9rem;
}

blockquote {
	padding: 1.5rem;
	background-color: #eee;
	border-left: 4px solid #bbb;
	font-size: smaller;
}

blockquote p {
	margin-top: 0;
}

cite {
	display: block;
	margin-top: 0.5rem;
}

cite:before {
	padding-right: 0.5rem;
	content: '\2014';
}

time {
	text-transform: uppercase;
	font-size: small;
}

pre {
	font-size: 0.8rem;
	margin-bottom: 2rem;
}

blockquote,
.info,
.warn {
	margin: 2rem 0;
}

.info {
	padding: 1rem;
	border: 1px solid var(--sky-200);
	color: var(--sky-700);
	background-color: var(--sky-100);
	font-size: smaller;
}

.info a {
	color: var(--sky-700);
}

.warn {
	padding: 1rem;
	border: 1px solid var(--red-200);
	color: var(--red-700);
	background-color: var(--red-100);
	font-size: smaller;
}

.warn a {
	color: var(--red-700);
}

table {
	margin-top: 2rem;
	overflow-x: auto;
	border-collapse: collapse;
}

th,
td {
	padding: 1rem;
}

td {
	font-size: smaller;
	vertical-align: top;
	border-bottom: 1px solid var(--grey-200);
	color: var(--grey-600);
}

.sr-only {
	overflow: hidden;
	position: absolute;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
	border: 0;
}
